body {
    color: white;
    margin: 0;

    display: grid;
    grid-template-areas:
     "header header"
     "main aside"
     "footer footer"
     ;
     grid-template-rows: 30px 1fr 40px;
     grid-template-columns: 1fr 150px;
      /*
        O primeiro valor será atribuido a uma linha de cada vez ou seja,
        se houver 3 linhas o primeiro valor será para a primeira linha,
        o segundo, para a segunda e assim por diante.
      */
}

header {
    grid-area:header;
    background-color: green;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;
}

main {
  
    background-color: white;
}

aside {
   
    background-color: blue;
}

footer {
    grid-area:footer;
    background-color: gray;
}